dialog.settings {
	background-color: inherit;
	position: absolute;
	left: 4vw; width: 88vw;
	top: 2vh; height: 80vh;
	opacity: 86%;
	padding: 2%;
	margin: 0;
	border: 0;
	color: white;
	font-size: 14pt;
	overflow: hidden;
	text-align: center;
}

dialog h3 { margin: 0; font-size: 16pt; }
dialog button[type=close]:first-child { float: right; }

fieldset p {
	margin: 0.25em 0 0.5em 0;
	text-align: justify;
	text-justify: inter-word;
}

a, a:link, a:active, a:visited {
	color: darkgray!important;
	font-weight: bold;
	text-decoration: underline;
}

button, label[for=import], a.button,
		a.button:link, a.button:active, a.button:visited {
	background-color: inherit;
	color: lightgray!important;
	border: 2px solid darkgray;
	border-radius: 8px;
	font-weight: bold;
	text-decoration: none;
	margin: 0 2px;
	padding: 0 6px;
	font-size: 24px;
}

label {
	white-space: pre-line; margin: 4px;
	color: lightgray;
}

a:hover, a.button:hover:not(:disabled), button:hover:not(:disabled), label:hover {
	color: inherit!important;
	border-color: inherit;
	cursor: pointer;
}

form#settings {
	display: block;
	margin: 1% 0 0 0;
	clear: right;
	text-align: left;
	overflow-y: auto;
	overflow-x: auto;
	position: relative;
	height: 94%;
}

.block { display: block; }
.table { display: table; }
.center { text-align: center; }

output.diax { color: yellow; }
label.error:not([for=import]), textarea.error { color: red; }
label.error[for=import], a.button.error { border-color: red; }

textarea {
	width: 99%;
	height: 4em;
	font-size: 12pt;
	font-weight: bold;
	background-color: lightgray;
	opacity: 60%;
	border: 0;
	color: black;
}
input, select {
	font-size: 11pt;
	margin: 0px;
	vertical-align: text-top;
	background-color: white;
}
input:disabled, select:disabled {
	background-color: #888;
}
input:hover:not(:disabled), select:hover:not(:disabled) {
	background-color: #ddd;
}
textarea:hover:not(:disabled), textarea:focus:not(:disabled) {
	background-color: #e7e7e7;
}

input { height: 1.5em; } select:not([size]) { height: 1.8em; }
input[type=number] { width: 3em; text-align: right; }
input[type=checkbox] { vertical-align: middle; }
input[type=file] {
	position: absolute!important;
	width: 1px; height: 1px;
}

thead tr:first-child th {
	font-weight: bold; font-size: 0.9em;
	padding: 0 0.2em;
	border-bottom: 1px solid white;
}
thead tr th, tbody tr th {
	font-weight: normal; font-size: 0.75em;
}
th, td {
	font-size: 0.75em;
	padding: 0 0.1em;
}
tbody th, tbody td {
	border-top: 1px solid white;
}
